.job-card{
    display:flex;
    flex-direction:column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #fdfdfd  ;
    height:300px;
    width:350px;
    border-radius:10px;
    margin-right:15px;
    
}
.jobs-title{
    font-size:27px;
    color:black ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    margin-left:3%;
    margin-top:1%;
}
.company-name1{
    font-size:17px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:5px;
    margin-top:0%;
}
.experience{
    color:grey;
    margin-top:0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:5px;
}
.apply-now-btn{
    background-color:#2f36f6;
    color:white;
    border-radius:2px;
    border:0px;
    margin-right:8px;
    margin-left:8px;
    height:30px;
    margin-top:6px;
}
.bookmark-btn{
    background-color:white;
    color:#2f36f6;
    border-radius:2px;
    border:1px solid #2f36f6;
    margin-right:8px;
    margin-left:8px;
    height:30px;
    margin-top:6px;
}
.btn-container{
    margin-bottom:20px;
}