.App {
  display:flex;
  flex-direction:column;

}
.logo-img{
  height:40px;
  width:60px;margin-top:19px;
}
.button-container {  
  display: flex;  
  gap: 7px; 
}  
.nav-link {  
  text-decoration: none;
  color: inherit; 
  margin-right:20px;
  font-family:'Times New Roman', Times, serif;
  font-size:22px;
  color:#6572e7  ;
}  
.job-title{
  font-size:30px;
  color:#6572e7  ;
  font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin-left:10px;

}
.nav-container{
  display:flex;
  flex-direction:row;
  height:auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.logo-container{
  display:flex;
  flex-direction: row;
  gap:10px;
  margin-left:20px;
  
}
.navlink-container{
  margin-top:20px;
  margin-right:16px;
  margin-left:30%
}
.logout{
  background-color:#2f36f6  ;
  border:0px;
  color:white;
  font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  border-radius:10px;
  height:30px;
  width:90px;
  margin-top:20px;
  margin-left:auto;
  margin-right:30px;
}